@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

html {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: #66FF66;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100vh;
    justify-content: left;
    align-items: top;
}

span {
    margin: 0;
    font-family: monospace;
    font-size: large;
    max-width: 100vw;
    /* word-wrap: break-word; */
}

#max_width{
    font-size: 0.9em;
}

#aboutme {
    overflow: visible;
    overflow-wrap: normal;
    width: 80%;
}

a{
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: monospace;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
}

a:hover{
    border-color: transparent;
    background-color: #EEFF9A;
    color: black;
    font-size: inherit;
    font-family: monospace;
    
}

button{
    border-color: transparent;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: monospace;
}

button:hover{
    border-color: transparent;
    background-color: #66FF66;
    color: black;
    font-size: inherit;
    font-family: monospace;
}
pre{
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    #mobile_width {
        display: block;
        font-size: 2vw;
    }
}

@media only screen and (min-width: 600px) {
    #tablet_width {
        display: block;
        font-size: 1.5vw;
    }
}